aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
lxml
motor
myjdapi
natsort
pillow
psutil
pymongo
PyroFork==2.3.10
python-dotenv
python-magic
qbittorrent-api
speedtest-cli
requests
telegraph
tenacity
tgcrypto
urllib3
uvloop
xattr
yt-dlp
